## Table of Contents <a id="toc">

* [Load Archived Dataset](#load)
* [State Dict](#state)
    * [Pickle](#pickle)

## Initial Imports

In [1]:
import pandas as pd
from datetime import date, timedelta, datetime
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
sns.set_context('poster')
%matplotlib inline

In [2]:
pwd

'/home/matt/Documents/Projects/WebDev/CoronaVirus'

##  Archived COVID-19 DATASET (Contains Complete Data Through March 22nd) <a id="load">

In [3]:
ls COVID-19/archived_data/archived_time_series/

README.md
time_series_19-covid-Confirmed_archived_0325.csv
time_series_19-covid-Deaths_archived_0325.csv
time_series_19-covid-Recovered_archived_0325.csv
time_series_2019-ncov-Confirmed.csv*
time_series_2019-ncov-Deaths.csv*
time_series_2019-ncov-Recovered.csv*

In [4]:
# df = pd.read_csv('COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')
df = pd.read_csv('COVID-19/archived_data/archived_time_series/time_series_19-covid-Confirmed_archived_0325.csv')
df.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0

In [5]:
df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20'],
      dtype='object')

In [6]:
#Preprocessing
print(len(df))
dfs = [] #Make a list of dfs
#Iterate through desired date columns and create df
dates = ['1/22/20','1/26/20', '2/2/20', '2/9/20', '2/16/20', '2/23/20',
         '3/1/20','3/5/20','3/8/20','3/12/20', '3/16/20', '3/18/20', '3/19/20', '3/20/20', '3/21/20',
         '3/22/20']
standard_cols = ['Province/State', 'Country/Region', 'Lat', 'Long']
for col in dates:
    temp = df[standard_cols+[col]]
    temp.columns = ['Province/State', 'Country/Region', 'Lat', 'Long', 'ConfirmedCases']
    temp['Date'] = col
    #Append df
    dfs.append(temp)
#Concat Dataframes
transformed = pd.concat(dfs, ignore_index=True)
print(len(transformed))
transformed.Date = pd.to_datetime(transformed.Date)
transformed.Date = transformed.Date.dt.strftime('%Y-%m-%d')
transformed.head()

501

/home/matt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':

8016

  Province/State Country/Region      Lat      Long  ConfirmedCases        Date
0            NaN       Thailand  15.0000  101.0000               2  2020-01-22
1            NaN          Japan  36.0000  138.0000               2  2020-01-22
2            NaN      Singapore   1.2833  103.8333               0  2020-01-22
3            NaN          Nepal  28.1667   84.2500               0  2020-01-22
4            NaN       Malaysia   2.5000  112.5000               0  2020-01-22

## Inspect Daily File Structure Starting 3/23/20

In [7]:
daily_dir = '/home/matt/Documents/Projects/WebDev/CoronaVirus/COVID-19/csse_covid_19_data/csse_covid_19_daily_reports/'
files = ['03-{}-2020.csv'.format(i) for i in range(23,27)]
for file in files:
    pass
#     daily = pd.read_csv(daily_dir+file)
daily = pd.read_csv(daily_dir+file)
daily.head()
# columns = ['Province_State', 'Country_Region', 'Last_Update',
#            'Lat', 'Long_', 'Confirmed', 'Deaths', 'Recovered', 'Active'
#           ]
# numericalCols = ['Confirmed', 'Deaths', 'Recovered', 'Active']

# daily = daily[columns]
# daily = daily.groupby(['Province_State', 'Country_Region'])[numericalCols].sum().reset_index()
# daily['Lat'] = daily['Province_State'].map(states_lat_dict)
# daily['Long'] = daily['Province_State'].map(states_long_dict)
# print(len(daily))
# daily.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-26 23:48:35,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-26 23:48:35,30.295065,-92.414197,3,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-26 23:48:35,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-26 23:48:35,43.452658,-116.241552,39,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-26 23:48:35,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [8]:
daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421 entries, 0 to 3420
Data columns (total 12 columns):
FIPS              3149 non-null float64
Admin2            3166 non-null object
Province_State    3250 non-null object
Country_Region    3421 non-null object
Last_Update       3421 non-null object
Lat               3421 non-null float64
Long_             3421 non-null float64
Confirmed         3421 non-null int64
Deaths            3421 non-null int64
Recovered         3421 non-null int64
Active            3421 non-null int64
Combined_Key      3421 non-null object
dtypes: float64(3), int64(4), object(5)
memory usage: 320.8+ KB

In [9]:
transformed.Date.unique()

array(['2020-01-22', '2020-01-26', '2020-02-02', '2020-02-09',
       '2020-02-16', '2020-02-23', '2020-03-01', '2020-03-05',
       '2020-03-08', '2020-03-12', '2020-03-16', '2020-03-18',
       '2020-03-19', '2020-03-20', '2020-03-21', '2020-03-22'],
      dtype=object)

In [10]:
file1States = set(df[df['Country/Region']=="US"]['Province/State'].unique())
file2States = set(daily['Province_State'].unique())
print(len(file2States))
print('Overlap:', len(file1States.intersection(file2States)))

133
Overlap: 56

In [11]:
df.columns

Index(['Province/State', 'Country/Region', 'Lat', 'Long', '1/22/20', '1/23/20',
       '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20',
       '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
       '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20',
       '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20',
       '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20',
       '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
       '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20',
       '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20',
       '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20',
       '3/21/20', '3/22/20', '3/23/20'],
      dtype='object')

## Create State Centroid Lat/Long Dict <a id="state">


[Table of Contents](#toc)

In [13]:
overlap = file1States.intersection(file2States)
us = df[df['Country/Region']=="US"]
temp = us[us['Province/State'].isin(overlap)][['Province/State', 'Lat', 'Long']]
# temp['Province/State'] = temp['Province/State'].map(lambda x: '{}, US'.format(x))
states_lat_dict = dict(zip(temp['Province/State'], temp['Lat']))
states_long_dict = dict(zip(temp['Province/State'], temp['Long']))
state = 'Alabama'
print(states_lat_dict[state] , states_long_dict[state])

32.3182 -86.9023

In [14]:
daily.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-26 23:48:35,34.223334,-82.461707,3,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-26 23:48:35,30.295065,-92.414197,3,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-26 23:48:35,37.767072,-75.632346,2,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-26 23:48:35,43.452658,-116.241552,39,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-26 23:48:35,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [15]:
us.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
98,Washington,US,47.4009,-121.4905,0,0,0,0,0,0,...,572,643,904,1076,1014,1376,1524,1793,1996,1996.0
99,New York,US,42.1657,-74.9481,0,0,0,0,0,0,...,525,732,967,1706,2495,5365,8310,11710,15793,15793.0
100,California,US,36.1162,-119.6816,0,0,0,0,0,0,...,340,426,557,698,751,952,1177,1364,1642,1642.0
101,Massachusetts,US,42.2302,-71.5301,0,0,0,0,0,0,...,138,164,197,218,218,328,413,525,646,646.0
102,Diamond Princess,US,35.4437,139.6380,0,0,0,0,0,0,...,46,46,47,47,47,47,49,49,49,49.0

### Pickle State Dicts <a id="pickle">
    
[Table of Contents](#toc)

In [16]:
import pickle

In [17]:
pwd

'/home/matt/Documents/Projects/WebDev/CoronaVirus'

In [18]:
ls

 CDC_Testing.ipynb
'CoronaVirus Country Line Chart.ipynb'
'CoronaVirus Map Data Processing-Base Script Through March23rd.ipynb'
'CoronaVirus Map Data Processing Post Mar26th.ipynb'
'CoronaVirus Map Data Processing Post Mar26th-StateLatLongDict.ipynb'
'CoronaVirus Map Data Processing - WebData Beta.ipynb'
 COVID-19/
 daily_processing_post_mar22.py
 Line_Chart_by_Country_Mar26.png
 Line_Chart_by_Country_Mar28.png
 Line_Chart_by_Country_Mar30.png

In [19]:
#Lat Dict 
output = open('states_lat_dict.pkl', 'wb')
pickle.dump(states_lat_dict, output, -1)
output.close()

#Long Dict
output = open('states_long_dict.pkl', 'wb')
pickle.dump(states_long_dict, output, -1)
output.close()

In [20]:
ls

 CDC_Testing.ipynb
'CoronaVirus Country Line Chart.ipynb'
'CoronaVirus Map Data Processing-Base Script Through March23rd.ipynb'
'CoronaVirus Map Data Processing Post Mar26th.ipynb'
'CoronaVirus Map Data Processing Post Mar26th-StateLatLongDict.ipynb'
'CoronaVirus Map Data Processing - WebData Beta.ipynb'
 COVID-19/
 daily_processing_post_mar22.py
 Line_Chart_by_Country_Mar26.png
 Line_Chart_by_Country_Mar28.png
 Line_Chart_by_Country_Mar30.png
 states_lat_dict.pkl
 states_long_dict.pkl

### Reimport

In [22]:
#Lat
pkl_file = open('states_lat_dict.pkl', 'rb')
states_lat_dict = pickle.load(pkl_file)
pkl_file.close()

#Long
pkl_file = open('states_long_dict.pkl', 'rb')
states_long_dict = pickle.load(pkl_file)
pkl_file.close()


#Test
state = 'Alabama'
print(states_lat_dict[state] , states_long_dict[state])

32.3182 -86.9023